$background-color: #dfdbdb;
$green: #064747;
$green-transparent: #dcdcdc;
$radial-gradient: radial-gradient(86% 86% at 6% 9%, #fa7de9 0%, #ffb6c2 50%, #c7ffec 100%);
$box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
$white-transparent: rgba(255, 255, 255, 0.685);
$white: #fff;
$black: #000;