$background-color: #dfdbdb;
$green: #064747;
$white-20: #dcdcdc;
$radial-gradient: radial-gradient(86% 100% at 10% 9%, #fad4f3 0%, #ee84d6 60%, #00aeaa 90%);
$box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
$white-transparent: rgba(255, 255, 255, 0.685);
$white: #fff;
$black: #000;