.aside {
  min-height: calc(100vh - 30px);
  width: 300px;
  margin: 15px;
  padding: 10px;
  background-color: #064747;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  &__header {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 80px;
    height: 80px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    background: radial-gradient(86% 86% at 6% 9%, #fa7de9 0%, #ffb6c2 50%, #c7ffec 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__menu {
    list-style: none;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}