@use "../../ui/styles/variables.scss" as variables;

.footer {
  width: calc(100%);
  padding: 15px;
  background-color: variables.$green-transparent;
  box-shadow: variables.$box-shadow;

  &__copyright {
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    color: variables.$green;
  }
}