@use "../../ui/styles/variables.scss" as variables;

.layout {
  width: calc(100% - 30px);
  height: calc(100vh - 30px);
  display: grid;
  grid:
    "aside body" 1fr 
    "aside footer" auto 
    / 1fr 5fr;
  margin: 15px;
  box-shadow: variables.$box-shadow;
  border-radius: 20px;
  overflow: hidden;
}

.aside {
  grid-area: aside;
}

.body {
  grid-area: body;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }


  &::-webkit-scrollbar-thumb {
    background-color: variables.$green; 
    border-radius: 10px;
  }

  &::-webkit-scrollbar-button {
    display: none; 
  }
}

.footer {
  grid-area: footer;
}