@use "../../ui/styles/variables.scss" as variables;

.label {
  color: variables.$green;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__input {
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  &__error {
    color: red;
    font-size: 13px;
    display: block;
  }
}