body {
  background: linear-gradient(to bottom, #e0f7fa, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  animation: fadeIn 2s ease-in;
}

.main-logo {
  width: 550px;
  height: auto;
  margin-bottom: 20px;
  animation: float 3s ease-in-out infinite;
}

h1 {
  font-size: 48px;
  color: #064747;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 24px;
  color: #066666;
  margin-top: 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes float {
  0% { transform: translatey(0px); }
  50% { transform: translatey(-10px); }
  100% { transform: translatey(0px); }
}