@use '../../ui/styles/variables.scss' as variables;
@use '../../ui/styles/mixins.scss' as mixins;

.details {
  @include mixins.radius(600px, 65vh, 10px);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: variables.$green;
    text-align: center;

    &--dishes {	
      margin-top: 20px;
      font-size: 20px;
    }
  }

  &__content {
    @include mixins.flex(column, flex-start, stretch, 5px);
    @include mixins.scrollbar();
    height: 100%;
    padding: 20px 5px;
    font-weight: 600;
    font-size: 18px;
    overflow-y: auto;
  }

  &__list {
    font-size: 18px;
  }

  &__items {
    &::after {
      content: '';
      width: 500px;
      margin: 1px;
    }
  }

  &__item {
    @include mixins.flex(row, flex-start, stretch, 0);
    list-style: none;
  }

  li,
  p {
    @include mixins.flex(row, space-between, center, 0);

    span:nth-child(2) {
      font-weight: 500;
    }
  }

  &__buttons {
    @include mixins.flex(row, space-between, center, 0);
    margin-top: 10px;
    padding: 5px;
  }

  &__button { 
    @include mixins.letter(variables.$green, variables.$white, 10px, 6px, 16px, bold);
    border: none;
    outline: none;
    box-shadow: variables.$box-shadow-lg;
    cursor: pointer;
    transition: all 0.3s ease;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      box-shadow: none;
      filter: grayscale(70%);
    }

    &--confirm {
      background-color: #2196F3;
    }

    &--cancel {
      background-color: #F44336;
    }

    &--prepare {
      background-color: #FF9800;
    }

    &--complete {
      background-color: #4CAF50;
    }

    &--deliver {
      background-color: #9C27B0;
    }
  }
}