.login {
  margin: 50px auto;
  width: 500px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--row {
      flex-direction: row;
      align-items: center;

      span {
        cursor: pointer;
      }
    }
  }

  &__input,
  &__button {
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  &__button {
    cursor: pointer;
    background-color: rgb(18, 139, 64);
    color: white;
    font-weight: bold;
    font-size: 17px;

    &--rounded {
      font-size: 15px;
      margin-inline: 30px;
      background-color: rgb(110, 220, 152);
      color: black;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 0;
    border: none;
  }
}