<form [formGroup]="form()" class="form" (ngSubmit)="submit">
  <h3 class="form__title">{{title()}}</h3>
  <div class="form__inputs">
    @for (control of controls(); track $index) {
    @if (control.type === 'select') {
    <app-select [text]="control.text" [controlName]="control.controlName" [formGroup]="form()"
      [options]="control.options"></app-select>
    } @else {
    <app-input [text]="control.text" [type]="control.type" [controlName]="control.controlName"
      [formGroup]="form()"></app-input>
    }
    }
  </div>
  @if (message()) {
    <h4 class="form__message">{{message()}}</h4>
  }
  <button class="form__button">{{action()}}</button>
</form>